/* Login.css */

.container1 {
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Align items to the top */
    min-height: 100vh;
    background-color: #f8f9fa;
    margin-top: 20px;
  }
  
  .login-form {
    width: 400px; /* Set the fixed width for the form */
  padding: 20px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .login-form h1 {
    margin-bottom: 20px;
    text-align: center;
  }
  
  .login-form input {
    width: 100%; /* Set the width to 100% to occupy the entire width of the form */
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .login-form button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
  }
  
  .login-form button:hover {
    background-color: #0056b3;
  }
  